<?xml version="1.0"?> <!-- Based on mobipick -->
<launch>

  <!-- Define default arguments of launch file for butler robot -->
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="start_paused" default="false"/>
  <arg name="physics_profile" default="fast" doc="options: slow, fast" />
  <!-- Use timestamps from the simulation (Gazebo) -->
  <arg name="use_sim_time" default="true"/>
  <!-- Show Gazebo GUI -->
  <arg name="gui" default="true"/>
  <!-- Activating headless mode, allowing to use GPU-based sensors on remote machines -->
  <arg name="headless" default="false"/>
  <!-- Select world used by Gazebo -->
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable, but can also be an absolute path -->
  
  <arg name="rviz" default="true" />
  
  <!-- Default starting pose of butler robot -->
  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="2.0" />
  <arg name="robot_z"   default="0.1" />
  <arg name="robot_yaw" default="3.14" />
  
  <arg name="arm_controller" default="trajectory" doc="Which arm controller to start. Options are trajectory, velocity, position" />

  <arg name="namespace" default="butler" doc="Namespace to push all topics into"/>
  <arg name="tf_prefix" default="butler" doc="tf_prefix to be used" />
  <arg name="robot_name" default="butler" doc="Sets the name of the robot in gazebo" />

  <group>
    <remap from="$(arg namespace)/mobile_base_controller/cmd_vel" to="$(arg namespace)/cmd_vel" />
    <remap from="$(arg namespace)/mobile_base_controller/odom" to="$(arg namespace)/odom" />
    <remap from="$(arg namespace)/joint_states" to="$(arg namespace)/gazebo_joint_states" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="$(arg start_paused)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="extra_gazebo_args" value="--profile $(arg physics_profile)" />
    </include>
  </group>

  <group ns="$(arg namespace)">
    <include file="$(find butler_gazebo)/launch/butler_gazebo_common.launch">
    <!-- <include file="$(find butler_gazebo)/launch/test_butler_gazebo_common.launch"> -->
      <arg name="robot_x"   value="$(arg robot_x)" />
      <arg name="robot_y"   value="$(arg robot_y)" />
      <arg name="robot_z"   value="$(arg robot_z)" />
      <arg name="robot_yaw" value="$(arg robot_yaw)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="tf_prefix" value="$(arg tf_prefix)" />
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="arm_controller" value="$(arg arm_controller)" />
    </include>
  </group>

  <!-- Add passive + mimic joints to joint_states topic -->
  <group ns="$(arg namespace)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list">[gazebo_joint_states]</rosparam>
      <param name="rate" value="60.0" />
    </node>
  </group>
  
  <group ns="$(arg namespace)">
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find butler_description)/rviz/vizualize_butler.rviz" required="true" />
  </group>
  
</launch>